<% layout('/layout/boilerplate') %>
<div class="row gap-2 my-5">
  <div class="col-md-6 shadow p-0">
    <img
      class="rounded w-100 h-100"
      src="<%= superplace.imageUri %>"
      alt="<%= superplace.title %>"
    />
  </div>
  <div class="row col-md-6 align-content-start gap-2">
    <div>
      <h1 class="h1">
        <%= superplace.title %>
        <span class="h6 text-muted"><%= superplace.location %></span>
      </h1>
      <p class="card-text">
        <small class="text-muted">Uploaded 3 mins ago</small>
      </p>
      <h3 class="h3 text-primary">
        <%= Intl.NumberFormat('en-US', { style: 'currency', currency: 'USD',
        }).format(superplace.price) %>
      </h3>
      <p class=""><%= superplace.description %></p>
    </div>
    <div class="d-flex gap-2  w-auto ">
      <form
        action="/superplaces/<%= superplace._id %>?_method=DELETE"
        method="POST"
      >
        <button class="btn btn-link  text-danger text-decoration-none">Delete</button>
      </form>
        <a
        class="btn btn-dark shadow btn-sm w-auto col d-flex align-items-center"
        href="/superplaces/<%= superplace._id %>/edit"
        >
        Edit
      </a>
    </div>
    <form action="">
      <textarea name="body" id="review-id">Enter your comment here</textarea>
    </form>
  </div>
</div>
