<% layout('/layout/boilerplate') %>
<div class="row gap-2 my-5">
  <div class="col-md-6 shadow p-0">
    <img
      class="rounded w-100 h-100"
      src="<%= superPlace.imageUri %>"
      alt="<%= superPlace.title %>"
    />
  </div>
  <div class="row col-md-6 align-content-start gap-2">
    <div>
      <h1 class="h1"><%= superPlace.title %> <span class="h6 text-muted"><%= superPlace.location %></span></h1>
      <p class="card-text"><small class="text-muted">Uploaded 3 mins ago</small></p>
      <h3 class="h3 text-primary"><%= Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
      }).format(superPlace.price) %></h3>
      <p class=""><%= superPlace.description %></p>
      </div>
      <div class="d-flex gap-2 justify-content-start align-content-start">
      <form
        action="/superplaces/<%= superPlace._id %>?_method=DELETE"
        method="POST"
        class="p-0 col w-100"
        style="position: static"
      >
        <button class="btn btn-dark shadow btn-sm w-auto col">Delete</button>
      </form>
      <a
        class="btn btn-dark shadow btn-sm w-auto col"
        href="/superplaces/<%= superPlace._id %>/edit"
        >Edit</a
      >
    </div>
  </div>
</div>
